* {

box-sizing: border-box;
padding: 0;
margin: 0;


}



.appContainer{


background: rgb(30,148,196);
background: radial-gradient(circle, rgba(30,148,196,1) 69%, rgba(25,122,237,1) 100%);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
align-self: center;


}